# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Sur,OM,22.5667,59.5289,79.66,43,99,7.11,overcast clouds
1,1,Severo-Kurilsk,RU,50.6789,156.1250,42.28,71,100,9.46,overcast clouds
2,2,Carnarvon,AU,-24.8667,113.6333,65.50,60,46,21.43,scattered clouds
3,3,Balkhash,KZ,46.8440,74.9804,53.01,58,100,10.02,overcast clouds
4,4,Punta Arenas,CL,-53.1500,-70.9167,60.91,33,0,25.32,clear sky

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input('What is the minimum temperature you would like for your trip? '))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input('What is the maximum temperature you would like for you trip? '))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for you trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & 
                                       (city_data_df['Max Temp'] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Sur,OM,22.5667,59.5289,79.66,43,99,7.11,overcast clouds
11,11,Tucuman,AR,-26.8241,-65.2226,75.20,46,75,11.50,broken clouds
18,18,Tucurui,BR,-3.7661,-49.6725,89.47,50,84,3.65,broken clouds
20,20,Pamanukan,ID,-6.2842,107.8106,78.31,84,20,3.67,few clouds
22,22,Kapaa,US,22.0752,-159.3190,82.38,63,20,8.05,few clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.count()
clean_travel_cities.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Sur,OM,22.5667,59.5289,79.66,43,99,7.11,overcast clouds
11,11,Tucuman,AR,-26.8241,-65.2226,75.20,46,75,11.50,broken clouds
18,18,Tucurui,BR,-3.7661,-49.6725,89.47,50,84,3.65,broken clouds
20,20,Pamanukan,ID,-6.2842,107.8106,78.31,84,20,3.67,few clouds
22,22,Kapaa,US,22.0752,-159.3190,82.38,63,20,8.05,few clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df

          City Country  Max Temp Current Description      Lat       Lng
0          Sur      OM     79.66     overcast clouds  22.5667   59.5289
11     Tucuman      AR     75.20       broken clouds -26.8241  -65.2226
18     Tucurui      BR     89.47       broken clouds  -3.7661  -49.6725
20   Pamanukan      ID     78.31          few clouds  -6.2842  107.8106
22       Kapaa      US     82.38          few clouds  22.0752 -159.3190
..         ...     ...       ...                 ...      ...       ...
651     Itoman      JP     81.37       broken clouds  26.1247  127.6694
653   Havelock      US     80.98       broken clouds  34.8791  -76.9013
655      Natal      BR     78.49           clear sky  -5.7950  -35.2094
657   Acapulco      MX     84.56          light rain  16.8634  -99.8901
664     Amudat      UG     76.23     overcast clouds   1.9500   34.9500

[203 rows x 6 columns]

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Sur,OM,79.66,overcast clouds,22.5667,59.5289,
11,Tucuman,AR,75.20,broken clouds,-26.8241,-65.2226,
18,Tucurui,BR,89.47,broken clouds,-3.7661,-49.6725,
20,Pamanukan,ID,78.31,few clouds,-6.2842,107.8106,
22,Kapaa,US,82.38,few clouds,22.0752,-159.3190,
...,...,...,...,...,...,...,...
651,Itoman,JP,81.37,broken clouds,26.1247,127.6694,
653,Havelock,US,80.98,broken clouds,34.8791,-76.9013,
655,Natal,BR,78.49,clear sky,-5.7950,-35.2094,
657,Acapulco,MX,84.56,light rain,16.8634,-99.8901,
664,Amudat,UG,76.23,overcast clouds,1.9500,34.9500,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# Display sample data
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Sur,OM,79.66,overcast clouds,22.5667,59.5289,Sur Plaza Hotel
11,Tucuman,AR,75.20,broken clouds,-26.8241,-65.2226,Hotel Premier
18,Tucurui,BR,89.47,broken clouds,-3.7661,-49.6725,BBB Rooms Centro Tucurui PA
20,Pamanukan,ID,78.31,few clouds,-6.2842,107.8106,Paris Day Hotel Pamanukan
22,Kapaa,US,82.38,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
...,...,...,...,...,...,...,...
651,Itoman,JP,81.37,broken clouds,26.1247,127.6694,Southern Beach Hotel & Resort Okinawa
653,Havelock,US,80.98,broken clouds,34.8791,-76.9013,Sherwood Motel
655,Natal,BR,78.49,clear sky,-5.7950,-35.2094,Villa Park Hotel | Natal
657,Acapulco,MX,84.56,light rain,16.8634,-99.8901,HS Hotsson Smart Acapulco
664,Amudat,UG,76.23,overcast clouds,1.9500,34.9500,Silent Night Hotel

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [11]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Sur,OM,79.66,overcast clouds,22.5667,59.5289,Sur Plaza Hotel
11,Tucuman,AR,75.20,broken clouds,-26.8241,-65.2226,Hotel Premier
18,Tucurui,BR,89.47,broken clouds,-3.7661,-49.6725,BBB Rooms Centro Tucurui PA
20,Pamanukan,ID,78.31,few clouds,-6.2842,107.8106,Paris Day Hotel Pamanukan
22,Kapaa,US,82.38,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
...,...,...,...,...,...,...,...
651,Itoman,JP,81.37,broken clouds,26.1247,127.6694,Southern Beach Hotel & Resort Okinawa
653,Havelock,US,80.98,broken clouds,34.8791,-76.9013,Sherwood Motel
655,Natal,BR,78.49,clear sky,-5.7950,-35.2094,Villa Park Hotel | Natal
657,Acapulco,MX,84.56,light rain,16.8634,-99.8901,HS Hotsson Smart Acapulco
664,Amudat,UG,76.23,overcast clouds,1.9500,34.9500,Silent Night Hotel

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [12]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [25]:
# Set the file name.
output_data_file = 'WeatherPy_vacation.csv'

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [20]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [21]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index,row in hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Sur Plaza Hotel</dd>\n<dt>City</dt><dd>Sur</dd>\n<dt>Country</dt><dd>OM</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 79.66 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Premier</dd>\n<dt>City</dt><dd>Tucuman</dd>\n<dt>Country</dt><dd>AR</dd>\n<dt>Current Weather</dt><dd>broken clouds and 75.2 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>BBB Rooms Centro Tucurui PA</dd>\n<dt>City</dt><dd>Tucurui</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>broken clouds and 89.47 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Paris Day Hotel Pamanukan</dd>\n<dt>City</dt><dd>Pamanukan</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>few clouds and 78.31 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>few clouds and 82.38 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Cortez Malaga Techy Caroly</dd>\n<dt>City</dt><dd>Iquitos</dd>\n<dt>Country</dt><dd>PE</dd>\n<dt>Current Weather</dt><dd>moderate rain and 86.04 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel On The Rock by Prasanthi</dd>\n<dt>City</dt><dd>Kupang</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>broken clouds and 80.13 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Americas Best Value Inn & Suites Clarksdale</dd>\n<dt>City</dt><dd>Clarksdale</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 77.92 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>clear sky and 76.37 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Maitai Lapita Village Huahine</dd>\n<dt>City</dt><dd>Fare</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>broken clouds and 78.58 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [22]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0   22.5667   59.5289
11 -26.8241  -65.2226
18  -3.7661  -49.6725
20  -6.2842  107.8106
22  22.0752 -159.3190
24  -3.7481  -73.2472
26 -10.1667  123.5833
28  34.2001  -90.5709
31  -9.8000 -139.0333
38 -16.7000 -151.0167

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [23]:
# Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer

fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
import matplotlib.pyplot as plt
# Save the figure
plt.savefig("WeatherPy_vacation_map.png")